@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* *,
::before,
::after {
	font-family: "Nunito Sans", Roboto, sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-variation-settings: "wdth" 100, "YTLC" 500;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} */
html {
	font-family: "Nunito", Roboto, "sans-serif", "Noto Color Emoji" !important;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	/* font-optical-sizing: auto;
	font-weight: 400;
	font-variation-settings: "wdth" 100, "YTLC" 500; */
}

.pacifico {
	font-family: "Pacifico", cursive;
}

.manrope {
	font-family: "Manrope", Roboto, sans-serif;
}

.v-btn {
	text-transform: none !important;
}

.logo {
	font-size: 32px;
	font-weight: 400;
	line-height: 38.4px;
}

.topbar {
	top: 0;
	overflow: hidden;
	z-index: 999;
	background: rgb(0, 0, 0 / 95%);
	backdrop-filter: blur(8px);
}

div.rower {
	overflow-x: auto;
	overflow-y: hidden;
	padding-bottom: 40px;
	height: auto;
	width: 100%;
	position: relative;
	scrollbar-width: thin; /* For Firefox */
	scrollbar-color: #cecece transparent; /* For Firefox */
	white-space: nowrap;
}
div.rower::-webkit-scrollbar {
	width: 6px; /* For Chrome, Safari, and Opera */
	height: 3px;
	cursor: e-resize;
	transition: all 0.5s ease-in-out;
	border-radius: 47px;
}
div.rower:hover::-webkit-scrollbar {
	height: 8px;
}
div.rower::-webkit-scrollbar-thumb {
	background-color: #2c6e63; /* For Chrome, Safari, and Opera */
	border-radius: 47px;
	cursor: e-resize;
	width: 100px;
}

div.rower::-webkit-scrollbar-track {
	border-radius: 47px;
	background-color: #d9d9d9; /* For Chrome, Safari, and Opera */
}

.v-expansion-panel:not(:first-child)::after {
	border: none !important;
}

.v-input__control .v-field {
	border-radius: 50px;
	background-color: #1c1c1c;
}

.v-input__control .v-input__slot {
	border-radius: 50px;
	background-color: #1c1c1c;
}

.v-select .dropdown-toggle {
	border: none !important;
}

#textarea .v-input__control .v-field {
	border-radius: 20px !important;
}

#textarea .v-input__control .v-input__slot {
	border-radius: 20px !important;
}
